workflowsStock Feeds: odooData Writer.json
{
  "active": false,
  "connections": {
    "SSH1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "SSH2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-20T11:02:39.152Z",
  "id": "96",
  "name": "Stock Feeds: odooData Writer",
  "nodes": [
    {
      "parameters": {},
      "id": "4a891f5d-1424-4af1-9fa2-795b82cf2045",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "attachment_0",
        "path": "/home/luke/feeds",
        "options": {
          "fileName": "=Stock-{{$json.Supplier}}.csv"
        }
      },
      "id": "1c730103-62a4-4e62-ad80-5a4c081a4892",
      "name": "SSH1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE odoodata.stock_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }}; ",
        "options": {}
      },
      "id": "e9378482-92fd-42f4-8b22-0054a084d5d1",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1020,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=psql -d odooData -c \"\\\\COPY stock_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }} FROM /home/luke/feeds/Stock-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv DELIMITER ',' CSV HEADER;\"",
        "cwd": "/home/luke/feeds/"
      },
      "id": "750d89fb-16bf-439e-b88d-335283c491ad",
      "name": "SSH2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1160,
        200
      ],
      "credentials": {
        "sshPassword": {
          "id": "53",
          "name": "postgres (node3)"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "Supplier": "Saddleback",
          "TerminatedBy": "'\n'"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "8",
      "createdAt": "2022-02-16T11:16:15.628Z",
      "updatedAt": "2022-02-16T11:16:15.628Z",
      "name": "Feed"
    },
    {
      "id": "26",
      "createdAt": "2023-02-20T11:19:11.851Z",
      "updatedAt": "2023-02-20T11:19:11.851Z",
      "name": "imap"
    },
    {
      "id": "27",
      "createdAt": "2023-02-20T11:19:15.007Z",
      "updatedAt": "2023-02-20T11:19:15.007Z",
      "name": "ssh"
    },
    {
      "id": "28",
      "createdAt": "2023-02-20T11:19:20.976Z",
      "updatedAt": "2023-02-20T11:19:20.976Z",
      "name": "stock"
    },
    {
      "id": "37",
      "createdAt": "2023-07-21T15:01:55.576Z",
      "updatedAt": "2023-07-21T15:01:55.576Z",
      "name": "Postgres Enabled"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-09T14:38:22.000Z",
  "versionId": "20b5ab31-8171-4a66-8610-52f1411fa731"
}