workflowsMaster Routine: Midday Transit Table Read.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Supplier not integrated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop through premade transit tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop through premade transit tables": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop through premade transit tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop through premade transit tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-02T10:24:49.098Z",
  "id": "8GmjDMMRAxHBIT3W",
  "name": "Master Routine: Midday Transit Table Read",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "254d1b7a-893f-4850-bd65-8a5c4bcf9d35",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierinfo",
        "options": {}
      },
      "id": "dfa271c9-2d3a-4540-ab1b-1b10dad634c3",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1040,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json[\"globals\"])[0]  }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ee09d3c-7bc7-41c0-8501-6f78ca47dee1",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.globals.Webhook }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "2e0cc79b-6ac5-4207-81da-b7bac7025129",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        440
      ]
    },
    {
      "parameters": {},
      "id": "02fc63f4-f729-4c7b-a8dc-becca53f1806",
      "name": "Supplier not integrated",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        220
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a237fd0b-52da-4204-a21e-5ede5cf78913",
      "name": "Loop through premade transit tables",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        800,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM {{ \"datatransit.transit_\"+$json.name.toLowerCase() }};",
        "options": {}
      },
      "id": "a4f0e1f4-39b4-4e7d-8f2c-5c0c45daf489",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        1000,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.count) }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "eee20f49-81bc-4fd3-b818-7fe1f90004d6",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1220,
        660
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/create-template",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Loop through premade transit tables').item.json }}",
        "options": {}
      },
      "id": "04c67281-9fde-4b33-8eaf-8e04bec9b1c1",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        660
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "f286b7cf-8644-4110-8294-3a75e7b58df8",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        1040
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-02T10:45:00.000Z",
  "versionId": "56392d49-27b6-417f-ab1f-5ec072414266"
}