workflowsUtility: Voucher Creator.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Odoo3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo3": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo4": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-21T17:17:55.869Z",
  "id": "fhNtSm3NpGqXR45V",
  "name": "Utility: Voucher Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "085576b8-7d02-49f9-980d-24459c749ab1",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        520
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "loyalty.card",
        "operation": "getAll",
        "options": {}
      },
      "id": "fa21fa41-6999-4c52-9dfe-19d3739fde84",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        180,
        160
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "mobile",
            "name"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "Marc Davidson"
            }
          ]
        }
      },
      "id": "fe3264c9-6cc9-4cd8-b3dd-484e37173dda",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        460,
        160
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "loyalty.card",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "partner_id",
              "fieldValue": "={{ $json.partner_id }}"
            },
            {
              "fieldName": "program_id",
              "fieldValue": "={{ $json.program_id }}"
            },
            {
              "fieldName": "points",
              "fieldValue": "={{ Number($('Set').first().json.voucher_amount) }}"
            }
          ]
        }
      },
      "id": "f2b65de8-7adb-471f-a062-89c112312de8",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ],
      "retryOnFail": true,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "program_id",
              "value": "Cycle To Work Wallet"
            },
            {
              "name": "customer_name",
              "value": "Anette Stimmer"
            },
            {
              "name": "voucher_amount",
              "value": "2499.19"
            }
          ]
        },
        "options": {}
      },
      "id": "e83e0446-15ca-4ad6-b667-54e10bb374a6",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        360,
        520
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "loyalty.program",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "={{ $json.program_id }}"
            }
          ]
        }
      },
      "id": "d92d7f3b-6e7a-488d-89bc-ecf72428e179",
      "name": "Odoo3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        620,
        340
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "program_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b957f06a-9418-4419-9aa2-e4adeab5cc51",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        840,
        340
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "res.partner",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "name",
              "value": "={{ $json.customer_name }}"
            }
          ]
        }
      },
      "id": "0c0ffdeb-fd5a-4032-a832-d76b1b98e13a",
      "name": "Odoo4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        620,
        520
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "partner_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cab04809-3c8c-445c-aefb-5046d9c18566",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        840,
        520
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7d386d87-2806-4af3-95d2-fbbb072e8dd2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1040,
        420
      ]
    }
  ],
  "pinData": {
    "Odoo1": [
      {
        "json": {
          "id": 8179,
          "mobile": "07808816647",
          "name": "Marc Davidson"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Odoo": [
      {
        "json": {
          "id": 5,
          "message_is_follower": true,
          "message_follower_ids": [
            208583
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            233526,
            207283
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 1,
          "message_main_attachment_id": [
            529746,
            "LetterOfCollection (3).pdf"
          ],
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            125,
            "Dan White"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "0447-d406-484d",
          "expiration_date": "2023-02-03",
          "use_count": 1,
          "__last_update": "2023-02-23 14:10:53",
          "display_name": "Cycle To Work Wallet: 0447-d406-484d",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-01-27 16:07:05",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-02-23 14:10:53",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 365,
          "message_is_follower": false,
          "message_follower_ids": [
            209814
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            208954,
            208615
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            387,
            "Rory Mccann"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0448-c085-4e2c",
          "expiration_date": "2023-01-14",
          "use_count": 1,
          "__last_update": "2023-02-01 17:26:39",
          "display_name": "SCRS Wallet: 0448-c085-4e2c",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-01-31 09:05:19",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-01 17:26:39",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 367,
          "message_is_follower": false,
          "message_follower_ids": [
            210190
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            221561,
            208957
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            403,
            "Yuri Pekarovich"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044c-c4f5-4623",
          "expiration_date": "2023-02-15",
          "use_count": 1,
          "__last_update": "2023-05-30 15:18:51",
          "display_name": "SCRS Wallet: 044c-c4f5-4623",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-02-01 17:28:53",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-05-30 15:18:51",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 368,
          "message_is_follower": false,
          "message_follower_ids": [
            210364
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            209400,
            209098
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            410,
            "Frances Zhao"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0444-68e6-4d72",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-03 13:12:25",
          "display_name": "SCRS Wallet: 0444-68e6-4d72",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-02 12:58:50",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-03 13:12:25",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 369,
          "message_is_follower": false,
          "message_follower_ids": [
            210515
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            209760,
            209344
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            127,
            "Darragh Oban"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044f-e7d7-4b14",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-05-09 16:55:51",
          "display_name": "SCRS Wallet: 044f-e7d7-4b14",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-03 12:20:20",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-05-09 16:55:51",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 375,
          "message_is_follower": false,
          "message_follower_ids": [
            210571
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            227730,
            209465
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            425,
            "Tim Kasoar, Tim Kasoar"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-c7d1-47e6",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-05-31 17:10:30",
          "display_name": "SCRS Wallet: 0443-c7d1-47e6",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-03 15:25:51",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-05-31 17:10:30",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 376,
          "message_is_follower": false,
          "message_follower_ids": [
            210611
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            209889,
            209588
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            427,
            "Adele Flowerdew, Adele Flowerdew"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-73ca-4b4c",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-05 13:48:50",
          "display_name": "SCRS Wallet: 0443-73ca-4b4c",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-04 10:05:54",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-05 13:48:50",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 377,
          "message_is_follower": true,
          "message_follower_ids": [
            210623
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            209669,
            209662,
            209627
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            116,
            "Mcpherson, Niall"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "0447-0739-42f7",
          "expiration_date": "2023-02-05",
          "use_count": 1,
          "__last_update": "2023-02-04 12:22:32",
          "display_name": "Cycle To Work Wallet: 0447-0739-42f7",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-02-04 11:39:57",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-02-04 12:22:32",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 384,
          "message_is_follower": false,
          "message_follower_ids": [
            210697
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            223432,
            209778
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            131,
            "David Torkington"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0441-fb46-4dea",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-06-01 15:46:09",
          "display_name": "SCRS Wallet: 0441-fb46-4dea",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-04 16:37:15",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-06-01 15:46:09",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 385,
          "message_is_follower": false,
          "message_follower_ids": [
            210719
          ],
          "message_partner_ids": [
            50
          ],
          "message_ids": [
            209857,
            209850
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            402,
            "Andrew Harrison"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044a-c748-4c77",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-05 12:19:28",
          "display_name": "SCRS Wallet: 044a-c748-4c77",
          "create_uid": [
            12,
            "Ben Sajdecki"
          ],
          "create_date": "2023-02-05 12:15:28",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-05 12:19:28",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 391,
          "message_is_follower": false,
          "message_follower_ids": [
            222156
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            224813,
            221527
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            437,
            "Mark Igoe"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044e-4a15-468d",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-07 16:29:00",
          "display_name": "SCRS Wallet: 044e-4a15-468d",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-06 17:08:45",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-07 16:29:00",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 394,
          "message_is_follower": false,
          "message_follower_ids": [
            223936
          ],
          "message_partner_ids": [
            50
          ],
          "message_ids": [
            231824,
            223439
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            399,
            "Ryan Sackett"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044f-d88b-4241",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-30 12:45:42",
          "display_name": "SCRS Wallet: 044f-d88b-4241",
          "create_uid": [
            12,
            "Ben Sajdecki"
          ],
          "create_date": "2023-02-07 15:26:28",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-03-30 12:45:42",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 395,
          "message_is_follower": false,
          "message_follower_ids": [
            225172
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            231940,
            224691
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            398,
            "Lee Williamson"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0442-8d99-4a3e",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-19 14:59:01",
          "display_name": "SCRS Wallet: 0442-8d99-4a3e",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-07 16:12:59",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-19 14:59:01",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 397,
          "message_is_follower": false,
          "message_follower_ids": [
            227959
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            227711,
            227699
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            464,
            "Federico Andreis"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044b-f957-4497",
          "expiration_date": "2023-02-10",
          "use_count": 1,
          "__last_update": "2023-02-09 16:57:34",
          "display_name": "SCRS Wallet: 044b-f957-4497",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-02-09 16:50:39",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-09 16:57:34",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 400,
          "message_is_follower": false,
          "message_follower_ids": [
            227980
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            228215,
            227798
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            466,
            "Mark Baker"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044d-9632-4884",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-18 15:47:09",
          "display_name": "SCRS Wallet: 044d-9632-4884",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-10 10:10:36",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-18 15:47:09",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 405,
          "message_is_follower": false,
          "message_follower_ids": [
            228096
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            228127
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            467,
            "Lucy Byford"
          ],
          "points": 50,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "50.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0446-8565-422a",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-10 17:12:53",
          "display_name": "SCRS Wallet: 0446-8565-422a",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-10 17:12:53",
          "write_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "write_date": "2023-02-10 17:12:53",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 406,
          "message_is_follower": false,
          "message_follower_ids": [
            228097
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            228249,
            228128
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            438,
            "Derrick Johnstone"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-78e4-4a0a",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-11 11:02:04",
          "display_name": "SCRS Wallet: 0443-78e4-4a0a",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-10 17:13:15",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-11 11:02:04",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 409,
          "message_is_follower": false,
          "message_follower_ids": [
            228203
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            228462,
            228371
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            484,
            "Ross Watters"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0441-2fea-43a2",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-11 17:11:03",
          "display_name": "SCRS Wallet: 0441-2fea-43a2",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-11 14:09:12",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-11 17:11:03",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 410,
          "message_is_follower": false,
          "message_follower_ids": [
            228224
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            231325,
            228433
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            282,
            "Euan Murray"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0448-8703-4178",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-17 17:33:04",
          "display_name": "SCRS Wallet: 0448-8703-4178",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-11 16:22:35",
          "write_uid": [
            11,
            "Matthias Koenig"
          ],
          "write_date": "2023-02-17 17:33:04",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 417,
          "message_is_follower": false,
          "message_follower_ids": [
            228553
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            229096,
            229093
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            515,
            "Alison Finch"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044c-c78f-4528",
          "expiration_date": "2023-02-13",
          "use_count": 1,
          "__last_update": "2023-02-13 17:30:53",
          "display_name": "SCRS Wallet: 044c-c78f-4528",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-02-13 17:25:52",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-13 17:30:53",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 426,
          "message_is_follower": false,
          "message_follower_ids": [
            228681
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            229456,
            229436
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            526,
            "Andrew Duff"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044f-093d-4e8a",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-14 17:57:27",
          "display_name": "SCRS Wallet: 044f-093d-4e8a",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-02-14 16:50:22",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-14 17:57:27",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 428,
          "message_is_follower": false,
          "message_follower_ids": [
            228747
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            229671,
            229646
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            523,
            "Patricia Lourenco Da Costa"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "044a-e0fe-48b4",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-15 15:22:09",
          "display_name": "Cycle To Work Wallet: 044a-e0fe-48b4",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-02-15 15:20:31",
          "write_uid": [
            11,
            "Matthias Koenig"
          ],
          "write_date": "2023-02-15 15:22:09",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 432,
          "message_is_follower": false,
          "message_follower_ids": [
            228910
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            268337,
            230023
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            496,
            "Sofie Voerman"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0445-623b-492a",
          "expiration_date": "2023-04-08",
          "use_count": 1,
          "__last_update": "2023-04-01 13:03:06",
          "display_name": "SCRS Wallet: 0445-623b-492a",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-16 15:45:17",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-04-01 13:03:06",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 433,
          "message_is_follower": false,
          "message_follower_ids": [
            228922
          ],
          "message_partner_ids": [
            50
          ],
          "message_ids": [
            230066,
            230056
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            548,
            "Calum Baird"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0441-a27b-423c",
          "expiration_date": "2023-02-18",
          "use_count": 1,
          "__last_update": "2023-02-16 16:41:53",
          "display_name": "SCRS Wallet: 0441-a27b-423c",
          "create_uid": [
            12,
            "Ben Sajdecki"
          ],
          "create_date": "2023-02-16 16:32:59",
          "write_uid": [
            11,
            "Matthias Koenig"
          ],
          "write_date": "2023-02-16 16:41:53",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 435,
          "message_is_follower": false,
          "message_follower_ids": [
            228926
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            231146,
            230069
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            533,
            "Tomas Vega"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044e-5532-403d",
          "expiration_date": "2023-03-12",
          "use_count": 1,
          "__last_update": "2023-02-17 13:17:22",
          "display_name": "SCRS Wallet: 044e-5532-403d",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-16 16:57:56",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-17 13:17:22",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 436,
          "message_is_follower": false,
          "message_follower_ids": [
            228976
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            230191,
            230183
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            498,
            "Dale Welstead"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044f-1317-4f22",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-17 09:12:29",
          "display_name": "SCRS Wallet: 044f-1317-4f22",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-17 09:12:06",
          "write_uid": [
            8,
            "Jim Kilminster"
          ],
          "write_date": "2023-02-17 09:12:29",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 441,
          "message_is_follower": false,
          "message_follower_ids": [
            229046
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            233069,
            231199
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            554,
            "Patrick Steel"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0446-f25e-4315",
          "expiration_date": "2023-03-04",
          "use_count": 1,
          "__last_update": "2023-02-22 10:23:38",
          "display_name": "SCRS Wallet: 0446-f25e-4315",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-17 14:27:21",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-02-22 10:23:38",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 442,
          "message_is_follower": false,
          "message_follower_ids": [
            229051
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            234874,
            231214
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            549,
            "Rosie Mitchell"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044d-af1f-4cc0",
          "expiration_date": "2023-03-05",
          "use_count": 1,
          "__last_update": "2023-02-27 16:25:44",
          "display_name": "SCRS Wallet: 044d-af1f-4cc0",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-17 14:42:33",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-02-27 16:25:44",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 460,
          "message_is_follower": false,
          "message_follower_ids": [
            229515
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            235498,
            232677
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            584,
            "Nico Cocozza"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0446-5878-4852",
          "expiration_date": "2023-04-12",
          "use_count": 1,
          "__last_update": "2023-03-01 12:21:12",
          "display_name": "SCRS Wallet: 0446-5878-4852",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-21 10:42:42",
          "write_uid": [
            11,
            "Matthias Koenig"
          ],
          "write_date": "2023-03-01 12:21:12",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 461,
          "message_is_follower": false,
          "message_follower_ids": [
            229583
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            234363,
            232843
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            588,
            "Lenora Godwin"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-b14d-4d6b",
          "expiration_date": "2023-03-22",
          "use_count": 1,
          "__last_update": "2023-02-25 16:08:31",
          "display_name": "SCRS Wallet: 0443-b14d-4d6b",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-02-21 15:31:19",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-25 16:08:31",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 465,
          "message_is_follower": true,
          "message_follower_ids": [
            229827
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            241359,
            233511
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            578,
            "Brian Macdonald"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "0447-461f-4a1e",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-03 12:29:05",
          "display_name": "Cycle To Work Wallet: 0447-461f-4a1e",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-02-23 13:55:49",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-03 12:29:05",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 467,
          "message_is_follower": true,
          "message_follower_ids": [
            229833
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            233527
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            618,
            "Gordon Hutchins"
          ],
          "points": 2000,
          "point_name": "Cycle to Work Voucher",
          "points_display": "2000.00 Cycle to Work Voucher",
          "code": "044d-9c15-41c9",
          "expiration_date": false,
          "use_count": 0,
          "__last_update": "2023-04-27 15:23:02",
          "display_name": "Cycle To Work Wallet: 044d-9c15-41c9",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-02-23 14:12:33",
          "write_uid": [
            321,
            "Piel Rodriguez"
          ],
          "write_date": "2023-04-27 15:23:02",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 468,
          "message_is_follower": false,
          "message_follower_ids": [
            229955
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            234603,
            233805
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            616,
            "Caroline Jeffrey"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0449-46cf-47a8",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-02-26 14:39:02",
          "display_name": "SCRS Wallet: 0449-46cf-47a8",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-24 12:13:02",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-02-26 14:39:02",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 477,
          "message_is_follower": false,
          "message_follower_ids": [
            230107
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            235722,
            234157
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            628,
            "Angus Bell"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044f-c1f6-4e0c",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-01 16:00:25",
          "display_name": "SCRS Wallet: 044f-c1f6-4e0c",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-02-25 09:45:55",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-03-01 16:00:25",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 480,
          "message_is_follower": false,
          "message_follower_ids": [
            230158
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            248985,
            234244
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            627,
            "Nick Naylor"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-33b5-4373",
          "expiration_date": "2023-03-14",
          "use_count": 1,
          "__last_update": "2023-03-14 12:24:46",
          "display_name": "SCRS Wallet: 0443-33b5-4373",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-02-25 12:09:26",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-03-14 12:24:46",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 502,
          "message_is_follower": true,
          "message_follower_ids": [
            231279
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            720334,
            236348
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            6,
            "Canyon ASP Program"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            313,
            "Jakub Blazewicz"
          ],
          "points": 0,
          "point_name": "",
          "points_display": "0.00 ",
          "code": "0449-c022-4917",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-07-03 09:50:14",
          "display_name": "Canyon ASP Program: 0449-c022-4917",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-02 11:23:29",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-07-03 09:50:14",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 520,
          "message_is_follower": true,
          "message_follower_ids": [
            236144
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            243872,
            241747
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            6,
            "Canyon ASP Program"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            624,
            "Stuart George"
          ],
          "points": 0,
          "point_name": "",
          "points_display": "0.00 ",
          "code": "044f-a3da-4bb7",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-04-13 17:05:36",
          "display_name": "Canyon ASP Program: 044f-a3da-4bb7",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-04 13:05:27",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-04-13 17:05:36",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 530,
          "message_is_follower": false,
          "message_follower_ids": [
            236901
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            244084,
            243328
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            700,
            "Janis Stirton"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0445-084c-47b6",
          "expiration_date": "2023-03-21",
          "use_count": 1,
          "__last_update": "2023-03-08 16:36:11",
          "display_name": "SCRS Wallet: 0445-084c-47b6",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-03-07 14:06:02",
          "write_uid": [
            11,
            "Matthias Koenig"
          ],
          "write_date": "2023-03-08 16:36:11",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 540,
          "message_is_follower": false,
          "message_follower_ids": [
            237132
          ],
          "message_partner_ids": [
            15
          ],
          "message_ids": [
            252778,
            243843
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            717,
            "Penny Butlin"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "0445-f297-4b10",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-20 12:25:13",
          "display_name": "Cycle To Work Wallet: 0445-f297-4b10",
          "create_uid": [
            9,
            "Max Hutchins"
          ],
          "create_date": "2023-03-08 12:12:55",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-03-20 12:25:13",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 544,
          "message_is_follower": true,
          "message_follower_ids": [
            237142
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            720339,
            243864
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            6,
            "Canyon ASP Program"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            666,
            "Lisa Mcwilliam"
          ],
          "points": 0,
          "point_name": "",
          "points_display": "0.00 ",
          "code": "044d-31e9-4711",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-07-03 09:51:11",
          "display_name": "Canyon ASP Program: 044d-31e9-4711",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-08 12:34:42",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-07-03 09:51:11",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 554,
          "message_is_follower": false,
          "message_follower_ids": [
            237282
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            245011,
            244264
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            644,
            "Gareth Dixon"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-bbd3-40a9",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-10 17:32:42",
          "display_name": "SCRS Wallet: 0443-bbd3-40a9",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-03-09 09:29:42",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-10 17:32:42",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 557,
          "message_is_follower": false,
          "message_follower_ids": [
            237428
          ],
          "message_partner_ids": [
            14
          ],
          "message_ids": [
            244850,
            244589
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            715,
            "Nick Godwin"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044c-01aa-478c",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-10 12:26:55",
          "display_name": "SCRS Wallet: 044c-01aa-478c",
          "create_uid": [
            8,
            "Jim Kilminster"
          ],
          "create_date": "2023-03-09 15:10:09",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-10 12:26:55",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 583,
          "message_is_follower": false,
          "message_follower_ids": [
            239809
          ],
          "message_partner_ids": [
            54
          ],
          "message_ids": [
            251723,
            247652
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            735,
            "Alice Bucker"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0444-1bdf-4335",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-18 16:00:27",
          "display_name": "SCRS Wallet: 0444-1bdf-4335",
          "create_uid": [
            14,
            "Mackenzie Barker"
          ],
          "create_date": "2023-03-13 09:27:16",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-18 16:00:27",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 587,
          "message_is_follower": false,
          "message_follower_ids": [
            240680
          ],
          "message_partner_ids": [
            52
          ],
          "message_ids": [
            248950,
            248937
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            836,
            "Douglas Mcewan"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0443-07f9-4b0d",
          "expiration_date": "2023-03-21",
          "use_count": 1,
          "__last_update": "2023-03-14 11:11:59",
          "display_name": "SCRS Wallet: 0443-07f9-4b0d",
          "create_uid": [
            13,
            "Jarek Wasilewski"
          ],
          "create_date": "2023-03-14 11:09:10",
          "write_uid": [
            9,
            "Max Hutchins"
          ],
          "write_date": "2023-03-14 11:11:59",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 595,
          "message_is_follower": true,
          "message_follower_ids": [
            240718
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            257056,
            249019
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            740,
            "Maria Lapata"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "044e-8f62-4114",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-25 14:04:47",
          "display_name": "Cycle To Work Wallet: 044e-8f62-4114",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-14 12:55:56",
          "write_uid": [
            7,
            "Luke Austin"
          ],
          "write_date": "2023-03-25 14:04:47",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 596,
          "message_is_follower": true,
          "message_follower_ids": [
            240747
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            251089,
            249081
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            451,
            "Gavin Reid"
          ],
          "points": 0.009999999999990905,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.01 Cycle to Work Voucher",
          "code": "044d-811d-4d34",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-17 13:03:18",
          "display_name": "Cycle To Work Wallet: 044d-811d-4d34",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-14 14:27:30",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-17 13:03:18",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 597,
          "message_is_follower": true,
          "message_follower_ids": [
            240779
          ],
          "message_partner_ids": [
            13
          ],
          "message_ids": [
            251072,
            249157
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            3,
            "Cycle To Work Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            472,
            "Andrew White"
          ],
          "points": 0,
          "point_name": "Cycle to Work Voucher",
          "points_display": "0.00 Cycle to Work Voucher",
          "code": "0441-7798-4810",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-17 12:48:20",
          "display_name": "Cycle To Work Wallet: 0441-7798-4810",
          "create_uid": [
            7,
            "Luke Austin"
          ],
          "create_date": "2023-03-14 16:17:00",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-17 12:48:20",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 691,
          "message_is_follower": false,
          "message_follower_ids": [
            246596
          ],
          "message_partner_ids": [
            50
          ],
          "message_ids": [
            258837,
            258055
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            1062,
            "Thejaswin Kesavan"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0446-8a8b-4cc3",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-27 11:51:24",
          "display_name": "SCRS Wallet: 0446-8a8b-4cc3",
          "create_uid": [
            12,
            "Ben Sajdecki"
          ],
          "create_date": "2023-03-26 15:06:11",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-27 11:51:24",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 692,
          "message_is_follower": false,
          "message_follower_ids": [
            247170
          ],
          "message_partner_ids": [
            16
          ],
          "message_ids": [
            258706,
            258692
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            765,
            "Duncan Stewart"
          ],
          "points": 0,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "0.00 Scottish Cycle Repair Scheme Voucher",
          "code": "0448-ad62-4f8f",
          "expiration_date": false,
          "use_count": 1,
          "__last_update": "2023-03-27 08:23:45",
          "display_name": "SCRS Wallet: 0448-ad62-4f8f",
          "create_uid": [
            10,
            "John Cullen"
          ],
          "create_date": "2023-03-27 08:20:53",
          "write_uid": [
            10,
            "John Cullen"
          ],
          "write_date": "2023-03-27 08:23:45",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "id": 695,
          "message_is_follower": false,
          "message_follower_ids": [
            247213
          ],
          "message_partner_ids": [
            50
          ],
          "message_ids": [
            258827
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "message_main_attachment_id": false,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "program_id": [
            5,
            "SCRS Wallet"
          ],
          "program_type": "ewallet",
          "company_id": [
            1,
            "Biketrax"
          ],
          "currency_id": [
            142,
            "GBP"
          ],
          "partner_id": [
            1062,
            "Thejaswin Kesavan"
          ],
          "points": 50,
          "point_name": "Scottish Cycle Repair Scheme Voucher",
          "points_display": "50.00 Scottish Cycle Repair Scheme Voucher",
          "code": "044e-61a4-42a1",
          "expiration_date": false,
          "use_count": 0,
          "__last_update": "2023-03-27 11:47:17",
          "display_name": "SCRS Wallet: 044e-61a4-42a1",
          "create_uid": [
            12,
            "Ben Sajdecki"
          ],
          "create_date": "2023-03-27 11:47:17",
          "write_uid": [
            12,
            "Ben Sajdecki"
          ],
          "write_date": "2023-03-27 11:47:17",
          "source_pos_order_id": false,
          "order_id": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-09-04T11:24:03.000Z",
  "versionId": "ca9e8b8a-c417-4395-8b11-908cf2681a63"
}