workflowsProduct Feeds: odooData Writer.json
{
  "active": false,
  "connections": {
    "SSH1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "SSH3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH3": {
      "main": [
        [
          {
            "node": "SSH4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-20T11:20:07.527Z",
  "id": "98",
  "name": "Product Feeds: odooData Writer",
  "nodes": [
    {
      "parameters": {},
      "id": "0d3ea33d-e099-4921-bf62-a00d9f2040c4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "attachment_0",
        "path": "/home/luke/feeds",
        "options": {
          "fileName": "=Upload-{{$json.Supplier}}.csv"
        }
      },
      "id": "4a83f587-707e-49c2-934d-9286dbf985db",
      "name": "SSH1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1020,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE upload_{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}; ",
        "options": {}
      },
      "id": "fe6e8dd1-4769-45ce-96fe-bd0eb6f7d237",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1160,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DROP TABLE upload_{{ $node[\"Execute Workflow Trigger\"].json.Supplier }};",
        "options": {}
      },
      "id": "8da323ab-f321-40a8-84a3-e08da4185d74",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=CREATE TABLE upload_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }} AS\nSELECT *\nFROM template_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }};",
        "options": {}
      },
      "id": "c0adb8db-7563-445f-89bd-852ee0e5ba80",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1540,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=LANG=C sed -i 's/[\\d128-\\d255]//g' /home/luke/feeds/Upload-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv",
        "cwd": "/home/luke/feeds/"
      },
      "id": "8f4111fc-499f-4208-a7a5-cbcd108c5209",
      "name": "SSH3",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1880,
        200
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "command": "=psql -d odooData -c \"\\\\COPY upload_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }} FROM /home/luke/feeds/Upload-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv DELIMITER ',' CSV HEADER;\"",
        "cwd": "/home/luke/feeds/"
      },
      "id": "77a10054-3c4d-4a16-a491-e7c32b6f7ffd",
      "name": "SSH4",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2040,
        200
      ],
      "credentials": {
        "sshPassword": {
          "id": "53",
          "name": "postgres (node3)"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "fileName": "data.gbp.200.csv",
          "Supplier": "Zyro"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-02-16T11:16:15.628Z",
      "updatedAt": "2022-02-16T11:16:15.628Z",
      "id": "8",
      "name": "Feed"
    },
    {
      "createdAt": "2022-02-20T14:11:10.971Z",
      "updatedAt": "2022-02-20T14:11:10.971Z",
      "id": "11",
      "name": "Products"
    },
    {
      "createdAt": "2023-02-20T11:19:11.851Z",
      "updatedAt": "2023-02-20T11:19:11.851Z",
      "id": "26",
      "name": "imap"
    },
    {
      "createdAt": "2023-02-20T11:19:15.007Z",
      "updatedAt": "2023-02-20T11:19:15.007Z",
      "id": "27",
      "name": "ssh"
    },
    {
      "createdAt": "2023-02-20T11:19:20.976Z",
      "updatedAt": "2023-02-20T11:19:20.976Z",
      "id": "28",
      "name": "stock"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-21T16:25:51.000Z",
  "versionId": "4a85dd65-c818-490d-80b0-1df1a78452f4"
}