workflowsMerchant Centre: Retrieve Live Data.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL4": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-21T08:44:41.829Z",
  "id": "100",
  "name": "Merchant Centre: Retrieve Live Data",
  "nodes": [
    {
      "parameters": {},
      "id": "789a2eda-090b-498b-9221-f2985722e059",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -940,
        440
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "default_code",
            "barcode",
            "product_tmpl_id",
            "allow_out_of_stock_order",
            "free_qty",
            "product_template_attribute_value_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tag_ids",
              "operator": "in",
              "value": "={{ $json.Globals[0].ProductTagId }}"
            }
          ]
        }
      },
      "id": "bb468e4f-cf32-4266-832f-c3befd6f217d",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -300,
        440
      ],
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "link",
              "value": "=https://wwww.biketrax.co.uk/shop/{{ $json.product_tmpl_id[0] }}#{{ $json.product_template_attribute_value_ids.join() }}"
            },
            {
              "name": "image_link",
              "value": "=https://www.biketrax.co.uk/web/image/product.product/{{ $json.id }}/image_1024/"
            },
            {
              "name": "availability",
              "value": "={{ $json.free_qty > 0 ? \"in_stock\" : \"out_of_stock\" }}"
            },
            {
              "name": "item_group_id",
              "value": "={{ $json.product_tmpl_id[0] }}"
            },
            {
              "name": "gtin",
              "value": "={{ $json.barcode }}"
            }
          ],
          "number": [
            {
              "name": "quantity",
              "value": "={{ $json.free_qty }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55714916-656a-41f5-8d38-114824ad2e7e",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        120,
        440
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "`Odoo-MerchantFeed`",
          "mode": "name"
        },
        "columns": "gtin,id,link,image_link,quantity,availability,item_group_id",
        "options": {
          "ignore": true
        }
      },
      "id": "5685bbe3-d13f-4a32-9f09-e6cf813727ca",
      "name": "MySQL4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        320,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "45",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5000,
        "options": {}
      },
      "id": "7bee6cc8-a145-4db9-9cfb-812392dd3abe",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -80,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split In Batches1\"].context[\"noItemsLeft\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7154623c-b16e-4a37-8a73-78e5b7dab74c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        440
      ]
    },
    {
      "parameters": {},
      "id": "dd3ab309-6248-4a82-b5cb-c38729cfe115",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `Map-SupplierInfo`"
      },
      "id": "5c5f0b98-c8a4-4921-83e9-7ceebf3b08c6",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -720,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "42",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{JSON.parse( $json.Globals) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3384399-bead-4b3c-80ca-a233965be217",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -500,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-10-01T11:41:35.325Z",
      "updatedAt": "2022-10-01T11:41:35.325Z",
      "id": "20",
      "name": "odoo:product"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-05-30T07:09:35.000Z",
  "versionId": "ceb2f6a2-836c-47aa-b998-80608cc1d99a"
}