workflowsProduct Updates: Master Routine.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Not Integrated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Integrated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Integrated": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Add weights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-22T12:17:23.160Z",
  "id": "104",
  "name": "Product Updates: Master Routine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "7b7766fc-0554-44d3-9862-435be8b200fd",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{  JSON.parse($json[\"globals\"])[0]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c6c2cf9-bbe8-401e-b112-2aaba3be1736",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.globals.Webhook }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "859f8116-6468-453b-ac84-4a2ccc485f07",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        400
      ]
    },
    {
      "parameters": {},
      "id": "bcf4294f-5c4b-4764-bcba-ae4805ed21a3",
      "name": "Not Integrated",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1320,
        240
      ]
    },
    {
      "parameters": {},
      "id": "b4f72d5f-e589-4390-955e-1e0a685868da",
      "name": "Integrated",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        640
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "851b14b1-3bc4-4525-a254-32a22f7726c7",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1000,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.Globals.Webhook }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "68ca27a9-f009-4ea8-8f56-58d22699cb82",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1160,
        640
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Split In Batches').context.noItemsLeft }}"
            }
          ]
        }
      },
      "id": "a781bdd1-1a19-4cb7-ab2b-4fc73f1ad7df",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        640
      ]
    },
    {
      "parameters": {
        "url": "=https://node4.biketrax.co.uk/webhook/6f7d6ee7-8488-4f8a-baab-7bbb6961289c",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "08bf3375-25dc-496e-8505-08bb42e7ad0e",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1520,
        640
      ]
    },
    {
      "parameters": {
        "workflowId": "108"
      },
      "id": "ed494459-ab05-47ae-baa9-944fe4def1f7",
      "name": "Add weights",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1700,
        640
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"globals\" FROM \"Map-SupplierInfo\";",
        "options": {}
      },
      "id": "6776c052-11a0-4547-b69f-027a2c5efd1d",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        16
      ]
    }
  },
  "tags": [
    {
      "id": "37",
      "createdAt": "2023-07-21T15:01:55.576Z",
      "updatedAt": "2023-07-21T15:01:55.576Z",
      "name": "Postgres Enabled"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-21T15:01:56.000Z",
  "versionId": "de9f7e56-4772-4fad-8607-7752a0b30839"
}