workflowsProduct Feeds: odooData Zyro supplementary table writer.json
{
  "active": false,
  "connections": {
    "SSH1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH2": {
      "main": [
        [
          {
            "node": "SSH3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "SSH2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-28T14:45:42.915Z",
  "id": "112",
  "name": "Product Feeds: odooData Zyro supplementary table writer",
  "nodes": [
    {
      "parameters": {},
      "id": "19a4f5c7-cb03-4c22-a5ae-be476fa0ff64",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "attachment_0",
        "path": "/home/luke/feeds",
        "options": {
          "fileName": "=Csp-{{$json.Supplier}}.csv"
        }
      },
      "id": "98e4527d-e5ca-4aa8-bf90-ba6e998fd997",
      "name": "SSH1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1020,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE `Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}`; "
      },
      "id": "6860ef46-260e-46b3-a029-f52cfa1d7292",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1160,
        360
      ],
      "credentials": {
        "mySql": {
          "id": "42",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=LANG=C sed -i 's/[\\d128-\\d255]//g' /home/luke/feeds/Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv",
        "cwd": "/home/luke/feeds/"
      },
      "id": "dd202256-03d6-4aeb-bce4-53a00c5761d6",
      "name": "SSH2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1360,
        200
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE csp_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }}; ",
        "options": {}
      },
      "id": "6cf78a85-78ae-4982-ae81-d5158f238bf1",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1160,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=psql -d odooData -c \"\\\\COPY csp_{{ $node[\"Execute Workflow Trigger\"].json.Supplier.toLowerCase() }} FROM /home/luke/feeds/Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv DELIMITER ',' CSV HEADER;\"",
        "cwd": "/home/luke/feeds/"
      },
      "id": "73e578e2-ca1e-4850-a848-4f042bd80bac",
      "name": "SSH3",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ],
      "credentials": {
        "sshPassword": {
          "id": "53",
          "name": "postgres (node3)"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "fileName": "data.gbp.200.csv",
          "Supplier": "Zyro"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-02-16T11:16:15.628Z",
      "updatedAt": "2022-02-16T11:16:15.628Z",
      "id": "8",
      "name": "Feed"
    },
    {
      "createdAt": "2022-02-20T14:11:10.971Z",
      "updatedAt": "2022-02-20T14:11:10.971Z",
      "id": "11",
      "name": "Products"
    },
    {
      "createdAt": "2023-02-20T11:19:11.851Z",
      "updatedAt": "2023-02-20T11:19:11.851Z",
      "id": "26",
      "name": "imap"
    },
    {
      "createdAt": "2023-02-20T11:19:15.007Z",
      "updatedAt": "2023-02-20T11:19:15.007Z",
      "id": "27",
      "name": "ssh"
    },
    {
      "createdAt": "2023-02-20T11:19:20.976Z",
      "updatedAt": "2023-02-20T11:19:20.976Z",
      "id": "28",
      "name": "stock"
    },
    {
      "createdAt": "2023-03-28T14:45:40.706Z",
      "updatedAt": "2023-03-28T14:45:40.706Z",
      "id": "36",
      "name": "zyro"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-22T06:58:09.000Z",
  "versionId": "b7b62ccd-def4-4451-bf78-dcb3e3b8d65a"
}