workflowsUtility: Brand > x_studio_brand_1 (subflow).json
{
  "active": false,
  "connections": {
    "Odoo": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-29T09:10:54.387Z",
  "id": "l2XwBXgNxWRIskvp",
  "name": "Utility: Brand > x_studio_brand_1 (subflow)",
  "nodes": [
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "product_tmpl_id",
            "default_code"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "default_code",
              "value": "={{ $json.productcode }}"
            }
          ]
        }
      },
      "id": "3c0958f4-2b7a-4c65-8d3b-6ae769b32703",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        660,
        480
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT productcode,brand FROM {{ \"feed_\"+$json.name.toLowerCase() }}",
        "options": {}
      },
      "id": "4e8e64aa-9dbf-45b9-b3a3-bf7e0ef986d4",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        440,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": "product_tmpl_id",
        "options": {}
      },
      "id": "695bc07f-667f-43f4-9b89-8d7915186ea6",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        840,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "default_code",
              "field2": "productcode"
            }
          ]
        },
        "options": {}
      },
      "id": "3db44410-e37b-4cc7-ac75-07a65768e84c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1040,
        620
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.template",
        "operation": "update",
        "customResourceId": "={{ $json.product_tmpl_id[0] }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "x_studio_brand_1",
              "fieldValue": "={{ $json.brand }}"
            }
          ]
        }
      },
      "id": "d035fd7a-ecb3-4a79-bc38-4629f3fc91a1",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1260,
        620
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8e283b48-d431-4dcd-ac6c-3fc33ccfd72b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        620
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "name": "Sportline",
          "globals": "[{\"SupplierName\": \"Sportline\",\"PartnerId\": 42,\"ProductTagId\": 6,\"LeadTimeAddition\":3}]"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-09-30T08:52:38.000Z",
  "versionId": "d6b03cef-cccd-403c-9ba3-8706efc7035b"
}