workflowsStock Tagger.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Has tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-02T09:50:54.266Z",
  "id": "5jx9YreEH350bCZN",
  "name": "Stock Tagger",
  "nodes": [
    {
      "parameters": {},
      "id": "328635e6-0b59-45c8-b438-83bb568d8baf",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        380
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "additional_product_tag_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "qty_available",
              "operator": "greaterThen",
              "value": "={{ 0 }}"
            }
          ]
        }
      },
      "id": "c924eb7d-8810-4df6-88d3-8d62d444fd0e",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1040,
        380
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.product_tag_ids.includes(65) }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0cc3bbd8-6923-4d35-b022-385136fd65d1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        600
      ]
    },
    {
      "parameters": {},
      "id": "0c26aabf-42a3-4382-b5af-558253a8a853",
      "name": "Has tag",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.additional_product_tag_ids.push(65);\n}\n\nreturn $input.all();"
      },
      "id": "a5f060c8-bc59-40b8-969a-3659bed9aada",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1040,
        760
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "additional_product_tag_ids",
              "fieldValue": "={{ $json.additional_product_tag_ids }}"
            }
          ]
        }
      },
      "id": "f2b7e157-1958-44df-b5bf-cbcdf117ff86",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1260,
        760
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "additional_product_tag_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "qty_available",
              "operator": "lesserOrEqual",
              "value": "={{ 0 }}"
            },
            {
              "fieldName": "additional_product_tag_ids",
              "operator": "in",
              "value": "={{65}}"
            }
          ]
        }
      },
      "id": "c7b0aa72-46c5-4874-b740-b389b17b6b7c",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        380,
        860
      ],
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.additional_product_tag_ids.push(65);\n}\n\nreturn $input.all();"
      },
      "id": "a41c18cc-da64-4197-b087-2e15a490e0dc",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        860
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-02T09:53:19.000Z",
  "versionId": "29fbde94-2920-4b9e-a4f8-c54e8cd2915d"
}