workflowsProduct Feeds: odooData Zyro supplementary table writer.json
{
  "active": false,
  "connections": {
    "SSH1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "SSH2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SSH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH2": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-28T14:45:42.915Z",
  "id": "112",
  "name": "Product Feeds: odooData Zyro supplementary table writer",
  "nodes": [
    {
      "parameters": {},
      "id": "19a4f5c7-cb03-4c22-a5ae-be476fa0ff64",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        820,
        360
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "attachment_0",
        "path": "/home/luke/feeds",
        "options": {
          "fileName": "=Csp-{{$json.Supplier}}.csv"
        }
      },
      "id": "98e4527d-e5ca-4aa8-bf90-ba6e998fd997",
      "name": "SSH1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1020,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=TRUNCATE `Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}`; "
      },
      "id": "6860ef46-260e-46b3-a029-f52cfa1d7292",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1160,
        360
      ],
      "credentials": {
        "mySql": {
          "id": "42",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "command": "=mysqlimport --user='root' --password='L0chr!nPl@ce' \\\n--fields-terminated-by=',' --lines-terminated-by=0x0d0a \\\n--replace --low-priority --fields-enclosed-by='\"' \\\n --fields-escaped-by='#' --ignore-lines='1' --verbose --force --local \\\nodooData '/home/luke/feeds/Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv'",
        "cwd": "/home/luke/feeds/"
      },
      "id": "894418d4-996c-40d6-8ae0-88ecc0978624",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2040,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    },
    {
      "parameters": {
        "command": "=LANG=C sed -i 's/[\\d128-\\d255]//g' /home/luke/feeds/Csp-{{ $node[\"Execute Workflow Trigger\"].json.Supplier }}.csv",
        "cwd": "/home/luke/feeds/"
      },
      "id": "dd202256-03d6-4aeb-bce4-53a00c5761d6",
      "name": "SSH2",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1880,
        360
      ],
      "credentials": {
        "sshPassword": {
          "id": "41",
          "name": "node3"
        }
      }
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "fileName": "data.gbp.200.csv",
          "Supplier": "Zyro"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-02-16T11:16:15.628Z",
      "updatedAt": "2022-02-16T11:16:15.628Z",
      "id": "8",
      "name": "Feed"
    },
    {
      "createdAt": "2022-02-20T14:11:10.971Z",
      "updatedAt": "2022-02-20T14:11:10.971Z",
      "id": "11",
      "name": "Products"
    },
    {
      "createdAt": "2023-02-20T11:19:11.851Z",
      "updatedAt": "2023-02-20T11:19:11.851Z",
      "id": "26",
      "name": "imap"
    },
    {
      "createdAt": "2023-02-20T11:19:15.007Z",
      "updatedAt": "2023-02-20T11:19:15.007Z",
      "id": "27",
      "name": "ssh"
    },
    {
      "createdAt": "2023-02-20T11:19:20.976Z",
      "updatedAt": "2023-02-20T11:19:20.976Z",
      "id": "28",
      "name": "stock"
    },
    {
      "createdAt": "2023-03-28T14:45:40.706Z",
      "updatedAt": "2023-03-28T14:45:40.706Z",
      "id": "36",
      "name": "zyro"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-28T15:11:17.000Z",
  "versionId": "7c6d7713-48c5-47c7-a4d3-6ef92bb76f96"
}