workflowsMerchant Centre: Google Feeds Generator.json
{
  "active": true,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Feed Upload": {
      "main": [
        [
          {
            "node": "Local Feed Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Live Data": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Retrieve Live Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Google Feed Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-21T08:39:14.707Z",
  "id": "99",
  "name": "Merchant Centre: Google Feeds Generator",
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "83c12d0e-db94-4ec4-8573-3f924a85d3eb",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split In Batches\"].context[\"noItemsLeft\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6b992b5d-5c9e-4634-afc5-89db9416f1ac",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        380
      ]
    },
    {
      "parameters": {
        "workflowId": "101"
      },
      "id": "976dc182-0432-4ddb-b1f2-31cb7cc453ae",
      "name": "Google Feed Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1180,
        980
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "a953000b-56ca-43d3-9a46-9da00be46aff",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        120,
        380
      ]
    },
    {
      "parameters": {
        "workflowId": "102"
      },
      "id": "b0da9d9e-516e-4d76-9c47-4e8d4a14a273",
      "name": "Local Feed Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1380,
        980
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": "100"
      },
      "id": "5f02c821-8136-483d-8c22-052ee17f1855",
      "name": "Retrieve Live Data",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        760,
        680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE google_merchantfeed;",
        "options": {}
      },
      "id": "532a3f8f-a272-4db6-b000-914f175b1ec8",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        480,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierInfo;",
        "options": {}
      },
      "id": "c85d9932-de93-4fb3-8990-a1db52abe390",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        760,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO datatransit.google_merchantfeed\n(title,\ndescription,\nprice,\nbrand,\ngtin,\nmpn,\ncolour,\nsize)\nSELECT \nProductName AS title, \nLongDescription AS description,\nCONCAT(CAST(ROUND(rrp::numeric * (1+(vat::numeric/100)),2) AS CHAR),' GBP') AS price,\nBrand,\nEan AS gtin,\nProductCode AS mpn,\nColour AS colour,\nSize AS size\nFROM odoodata.feed_{{ $json.name.toLowerCase() }}\nON CONFLICT DO NOTHING;",
        "options": {}
      },
      "id": "69e2cec4-7e11-46b5-8ac2-81d3d0206677",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1280,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE odoo_merchantfeed;",
        "options": {}
      },
      "id": "95cf5431-9487-4617-aae0-89b153bdd326",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        480,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE final_merchantfeed;",
        "options": {}
      },
      "id": "fbfe4d2f-a014-484d-9fce-7e4df4e679e6",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        480,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO final_merchantfeed\n(\"link\",\"id\",title,description,image_link,quantity,availability,price,brand,gtin,mpn,\"condition\",colour,gender,\"size\",age_group,item_group_id) \nSELECT  \nodoo_merchantfeed.\"link\",\nodoo_merchantfeed.\"id\",\ngoogle_merchantfeed.title,\ngoogle_merchantfeed.description,\nodoo_merchantfeed.image_link,\nodoo_merchantfeed.quantity,\nodoo_merchantfeed.availability,\ngoogle_merchantfeed.price,\ngoogle_merchantfeed.brand,\ngoogle_merchantfeed.gtin,\ngoogle_merchantfeed.mpn,\nodoo_merchantfeed.\"condition\",\ngoogle_merchantfeed.colour,\nodoo_merchantfeed.gender,\ngoogle_merchantfeed.\"size\",\nodoo_merchantfeed.age_group,\nodoo_merchantfeed.item_group_id\nFROM google_merchantfeed INNER JOIN odoo_merchantfeed  ON google_merchantfeed.gtin = odoo_merchantfeed.gtin \nWHERE google_merchantFeed.gtin IS NOT NULL;",
        "options": {}
      },
      "id": "00482221-5f6f-45b7-9c4a-8e815960ac82",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        760,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO final_merchantfeed\n(\"link\",\"id\",title,description,image_link,quantity,availability,price,brand,gtin,mpn,\"condition\",colour,gender,\"size\",age_group,item_group_id) \nSELECT  \nodoo_merchantfeed.\"link\",\nodoo_merchantfeed.\"id\",\ngoogle_merchantfeed.title,\ngoogle_merchantfeed.description,\nodoo_merchantfeed.image_link,\nodoo_merchantfeed.quantity,\nodoo_merchantfeed.availability,\ngoogle_merchantfeed.price,\ngoogle_merchantfeed.brand,\ngoogle_merchantfeed.gtin,\ngoogle_merchantfeed.mpn,\nodoo_merchantfeed.\"condition\",\ngoogle_merchantfeed.colour,\nodoo_merchantfeed.gender,\ngoogle_merchantfeed.\"size\",\nodoo_merchantfeed.age_group,\nodoo_merchantfeed.item_group_id\nFROM google_merchantfeed INNER JOIN odoo_merchantfeed  ON google_merchantfeed.gtin = odoo_merchantfeed.gtin \nWHERE google_merchantFeed.gtin IS NOT NULL;",
        "options": {}
      },
      "id": "baeaa16d-47c7-4b06-94e4-128c5e3ea1d7",
      "name": "Postgres6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        0,
        840
      ],
      "credentials": {
        "postgres": {
          "id": "51",
          "name": "btxPIM"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "id": "22",
      "createdAt": "2023-02-16T12:27:16.145Z",
      "updatedAt": "2023-02-16T12:27:16.145Z",
      "name": "facebook"
    },
    {
      "id": "27",
      "createdAt": "2023-02-20T11:19:15.007Z",
      "updatedAt": "2023-02-20T11:19:15.007Z",
      "name": "ssh"
    },
    {
      "id": "29",
      "createdAt": "2023-02-21T08:39:38.678Z",
      "updatedAt": "2023-02-21T08:39:38.678Z",
      "name": "google"
    },
    {
      "id": "37",
      "createdAt": "2023-07-21T15:01:55.576Z",
      "updatedAt": "2023-07-21T15:01:55.576Z",
      "name": "Postgres Enabled"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-24T08:59:31.000Z",
  "versionId": "9a90fd1f-4a32-407b-bdae-47b8301eb1b1"
}