workflowsMerchant Centre: Retrieve Live Data.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-21T08:44:41.829Z",
  "id": "100",
  "name": "Merchant Centre: Retrieve Live Data",
  "nodes": [
    {
      "parameters": {},
      "id": "789a2eda-090b-498b-9221-f2985722e059",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        160
      ]
    },
    {
      "parameters": {},
      "id": "dd3ab309-6248-4a82-b5cb-c38729cfe115",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        580,
        440
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "globals",
              "value": "={{JSON.parse( $json.globals) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "699a34d8-ad78-48bd-82e2-25cafe84f991",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1080,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "default_code",
            "barcode",
            "product_tmpl_id",
            "allow_out_of_stock_order",
            "free_qty",
            "product_template_attribute_value_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tag_ids",
              "operator": "in",
              "value": "={{ $json.globals[0].ProductTagId }}"
            },
            {
              "fieldName": "active",
              "value": "={{true}}"
            },
            {
              "fieldName": "categ_id",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "default_code",
              "operator": "notEqual",
              "value": "={{false}}"
            },
            {
              "fieldName": "barcode",
              "operator": "notEqual",
              "value": "={{false}}"
            },
            {
              "fieldName": "active",
              "value": "={{ true }}"
            }
          ]
        }
      },
      "id": "dcac39ea-4378-4bc3-aa24-6c1730bd9f0c",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -40,
        -100
      ],
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.category",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "complete_name"
          ]
        }
      },
      "id": "35ca82dc-0fb4-4a80-b9b5-2ca4102483ca",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -680,
        60
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "50fed82d-aff8-49fb-ac7f-34761d4b344b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -380,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM map_supplierinfo;",
        "options": {}
      },
      "id": "99c1afb4-421f-40e4-b5d1-f93bf4f045dd",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -1320,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "52",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "PtzFkiJX3ggmtsV0"
      },
      "id": "c52efbee-2e38-420e-a6bb-c78ca32d4ac6",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        80,
        440
      ]
    },
    {
      "parameters": {
        "batchSize": 2000,
        "options": {}
      },
      "id": "3b570721-dc0d-426d-a16d-22bc167902dd",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        300,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "20",
      "createdAt": "2022-10-01T11:41:35.325Z",
      "updatedAt": "2022-10-01T11:41:35.325Z",
      "name": "odoo:product"
    },
    {
      "id": "37",
      "createdAt": "2023-07-21T15:01:55.576Z",
      "updatedAt": "2023-07-21T15:01:55.576Z",
      "name": "Postgres Enabled"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-09-30T08:26:09.000Z",
  "versionId": "efbf2a2d-728d-4d8e-8737-c93be58cb072"
}