workflowsMerchant Centre: Retrieve Live Data.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MySQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL4": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Odoo2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-21T08:44:41.829Z",
  "id": "100",
  "name": "Merchant Centre: Retrieve Live Data",
  "nodes": [
    {
      "parameters": {},
      "id": "789a2eda-090b-498b-9221-f2985722e059",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "link",
              "value": "=https://wwww.biketrax.co.uk/shop/{{ $json.product_tmpl_id[0] }}#{{ $json.product_template_attribute_value_ids.join() }}"
            },
            {
              "name": "image_link",
              "value": "=https://www.biketrax.co.uk/web/image/product.product/{{ $json.id }}/image_1024/"
            },
            {
              "name": "availability",
              "value": "={{ $json.free_qty > 0 ? \"in_stock\" : \"out_of_stock\" }}"
            },
            {
              "name": "item_group_id",
              "value": "={{ $json.product_tmpl_id[0] }}"
            },
            {
              "name": "gtin",
              "value": "={{ $json.barcode }}"
            }
          ],
          "number": [
            {
              "name": "quantity",
              "value": "={{ $json.free_qty }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55714916-656a-41f5-8d38-114824ad2e7e",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        340,
        440
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "`Odoo-MerchantFeed`",
          "mode": "name"
        },
        "columns": "gtin,id,link,image_link,quantity,availability,item_group_id",
        "options": {
          "ignore": true
        }
      },
      "id": "5685bbe3-d13f-4a32-9f09-e6cf813727ca",
      "name": "MySQL4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        540,
        440
      ],
      "credentials": {
        "mySql": {
          "id": "45",
          "name": "node3: dataTransit"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5000,
        "options": {}
      },
      "id": "7bee6cc8-a145-4db9-9cfb-812392dd3abe",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        140,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split In Batches1\"].context[\"noItemsLeft\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7154623c-b16e-4a37-8a73-78e5b7dab74c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        440
      ]
    },
    {
      "parameters": {},
      "id": "dd3ab309-6248-4a82-b5cb-c38729cfe115",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `Map-SupplierInfo`"
      },
      "id": "7346fa41-a4d8-4f65-90b8-6a7af114cf20",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1320,
        -200
      ],
      "credentials": {
        "mySql": {
          "id": "42",
          "name": "odooData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Globals",
              "value": "={{JSON.parse( $json.Globals) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "699a34d8-ad78-48bd-82e2-25cafe84f991",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1080,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.product",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "default_code",
            "barcode",
            "product_tmpl_id",
            "allow_out_of_stock_order",
            "free_qty",
            "product_template_attribute_value_ids"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "product_tag_ids",
              "operator": "in",
              "value": "={{ $json.Globals[0].ProductTagId }}"
            },
            {
              "fieldName": "active",
              "value": "={{true}}"
            },
            {
              "fieldName": "categ_id",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "default_code",
              "operator": "notEqual",
              "value": "={{false}}"
            }
          ]
        }
      },
      "id": "dcac39ea-4378-4bc3-aa24-6c1730bd9f0c",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -40,
        -100
      ],
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "product.category",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "complete_name"
          ]
        }
      },
      "id": "35ca82dc-0fb4-4a80-b9b5-2ca4102483ca",
      "name": "Odoo2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -680,
        60
      ],
      "executeOnce": true,
      "credentials": {
        "odooApi": {
          "id": "37",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "50fed82d-aff8-49fb-ac7f-34761d4b344b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -380,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "default_code"
            }
          ]
        },
        "options": {}
      },
      "id": "27045497-0095-4b6f-b0f3-39c80b3bb3aa",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        180,
        -100
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2022-10-01T11:41:35.325Z",
      "updatedAt": "2022-10-01T11:41:35.325Z",
      "id": "20",
      "name": "odoo:product"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-07-10T19:44:01.000Z",
  "versionId": "92a79e22-bd89-44d6-8f01-67c66d14ccde"
}